@import '../../../../sass/config/mixins';

.card{
    padding: 2% 1% 1% 2%;
    margin: 2%;
}

.rootListeComplet{
    width: 95vw;
    height: 75.5vh;
    margin-left: -35%;
    margin-top: -2%;
    overflow-y: auto;
    .listContainer{
        display: flex;
    }
}

.listContainer{
      display: flex;
}


