@import '../../../sass/config/mixins';
.style {
    margin-top: 30%;
    margin-left: 3%;
    width: 100%;
    @include media(desktop) {
        margin-top: 10%;
        margin-left: 20%; 
        width: 70%;
    }
}

.groupe{
    padding-top: 10%;
    margin-left: -18%;
    width: 95vw;
    background-image: url("https://www.wallpapertip.com/wmimgs/80-807369_fondo-azul-claro-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}