@import '../../../../../sass/config/mixins';

.divListeComplet{
    width: 95vw;
    height: 80vh;
    overflow-y: auto; 
    @include media(tablet) {
        margin-left: -35%;
        margin-top: -17%;
    }
    #listePosition{
        margin: 1% 0 0 2%;
    }
    .title{
        margin-top: -3.5%;
    }
    
}

.root-2{
    min-width: 300px;
    margin: 0 0 0 8%;
    border: 2px solid #ddd;
}

.cardContainer{
    margin-top: 4%;
}

.InputBase{
    background-color: white;
    margin: 1% 0 1% 1%;
    width: 18vw;
    padding-left: 0%;
}

.center{
        .papelito{
        width: 60vw;
        height: 100%;  
        background-color: #ddd;
        @include media(tablet) {
            width: 19vw;
        }
            .p{
               padding-left: 15% ;
                color: #001694;
                font-size: 1.2rem;
                .btn-delete{
                    float: right;
                    //background-color: chartreuse;
                    background-color: #ddd;
                    border-style: none;
                    font-size: 1rem;
                }  
                .btn-delete:hover {
                    background-color: rgba(255, 255, 255, 0.905);
                    border-radius: 50%;
                    cursor: pointer;
                  }
            }
         
          
        }
   }

   .center{
        .ul-2{
            .papel{
            width: 19vw;
            height: 4vh;
                .li-2{
                    list-style: none;
                }
            }
        }
   }
   
.editableTitleContainer{
    margin: -1% 0 0 -2%;
    color: #525252;  
    @include media(tablet) {
        display: flex;
    } 
   ul{
       //background-color: brown;
       padding-left: 10%;
       padding-right: 21vw;
       width: 20vw;
       
       li{
          //background-color: blue;
           list-style: none;
           width: 19vw;
           
       }     
   }
   .adminAddListe{
        margin-top: -0.9%;
        margin-left: 4.5%;
    }
   
    .editableTitle{
        flex-grow: 1%;
        font-size: 1.2rem;
        font-weight: bold;
        .a{
            font-size: 0.8rem;
            padding-right: 60%;
        }
    }
    
        
    .MoreHorizIcon{
        float: right;
    }
  
}


.input{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1%;
    
}

.input:hover{
    //background-color: #ddd;
    margin-left: 0%;
}




